html {
    height: 100%; 
}

body {
    height: 100%;
    margin: 0;
    
}
header {
    background-image: url("img/education.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    background-position: center;
    display: flex;
    flex-direction:column;
    padding: 20px;
  }

  h1 {
  font-family: bromello;
  color: white;
  font-size : 70px;

  }

  hr {
    width: 50%;
    border : 2px solid white;
    margin-left: 0;
    margin-bottom: 5px;
  }

  h2 {
      color: white;
      font-family: century;
      margin-top: 30px;
      font-size: 20px;
  }

  h3 {
      color: white;
      font-family: century;
      font-size: 15px;
      margin-top: 2px;
  }

  @keyframes fromRight{
    from {
      transform: translateX(100px);
    }
    to {
      transform:(0);

    }

  }
  #from-right h1 {
    animation: fromRight 3s;
    opacity: 1;
  }


  @font-face{
    font-family:kg;
    src:url(kg.ttf)
}


@font-face{
    font-family:century;
    src:url(century.ttf)

}








