@font-face {
    font-family: OvertheRainbow;
    src: url(font/OvertheRainbow.ttf);
}

*{
    font-family: OvertheRainbow;

}

/*BODY*/

body{

}

/*HEADER*/

header{
    
}

header h1{
    color: whitesmoke;
    font-family: OvertheRainbow;
}

/*SECTION*/

section{

}

section img{
    width: 100%;
}
/*FOOTER*/

footer{

}