body{
    margin:0;
    font-family: Princ;
}

main{
}

#flower {
    height:100vh;
    background-image: url(img/photofleur.jpg);
    background-size: cover;

}
 @font-face {
     font-family: "OvertheRainbow";
     src: url('font/OvertheRainbow.ttf');
    }
    
    *{
     font-family: OvertheRainbow;
    
    }

    header h1{
        font-family:OvertheRainbow;
        color: white;
    
    }

    header{
        color: rgb(245, 245, 245);
        font-family: OvertheRainbow;
    }


    @font-face {
        font-family:"Princ";
        src: url('font/Prince.TTF');
    }

    *{
    font-family: Princ;    
    }


