


body{
    background-color: rgb(165, 163, 163);
}

@font-face {
    font-family: "OvertheRainbow";
    src: url('font/OvertheRainbow.ttf');
   }

   

 h1{
    font-family:OvertheRainbow;
    color: white;

}

@font-face{
    font-family:"Princ";
    src:url('Princ.TTF');
}

article {
    font-family: Princ;
}

h2{
    font-family:OvertheRainbow;  
}