html {
    height: 100%; 
}

body {
    height: 100%;
    margin: 0;
    
}

header {
    background-image: url("img/fougere.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    background-position: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}

header path {
    fill: transparent;
    stroke:white;
}

h1 {
    color:white; 
    letter-spacing: 10px;
    font-family: bromello;  
    font-size: 150px;
   
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;

}

h1:hover {
    background-color: black;
}

section {
    background-color: white;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    flex-wrap:wrap;
    align-content: center;

}

article {
    position: relative; 
    padding: 10px;
    margin:20px; 
    height: 350px; 
    width: 25%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    z-index: 0;

    letter-spacing: 10px;
    font-family: kg;  
    font-size: 20px;
    text-align: center;
    
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    transition: background-color 0.3s ease-in-out;
    
    transition: all 1s ease-in-out;
    filter: grayscale(0);
    overflow: hidden;
    
} 

.filter-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(25,25,25,.4);
    z-index: -1;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    z-index: -2;
    filter:grayscale(1);
}


article h2{
    color: rgb(218, 172, 21);
}

article:hover .bg-img {
    filter: grayscale(0);
    transform: scale(1.5);
    
}

article p {
    color: white;
}


/* Image for articles */
#parcoursscolaire {background-image: url("img/agenda.jpg");}
#expériencesprofessionnelles {background-image: url("img/postit.jpg");}
#centresdinterets {background-image: url("img/map.jpg");}
#competences {background-image: url("img/compet.jpg");}
#article5 {background-image: url("img/coffee.jpg");}
#article6 {background-image: url("img/flower.jpg");}



/* For Mobiles only */
@media only screen and (max-width: 600px) {
    section {
    flex-direction:column;
    flex-wrap:nowrap;  
    justify-content: flex-start; 
    }

    article {
        width: 60%;
    }

}

/*For Tablets only */
@media only screen and (max-width: 600px) and (max-width: 768px) {

}

/*For Desktop only */
@media only screen and (min-width: 768px){

}


@font-face{
    font-family: BebasNeue;
    src: url(BebasNeue.otf)
}

@font-face{
    font-family:CaviarDreams;
    src:url(CaviarDreams.ttf)
}

@font-face{
    font-family:bromello;
    src:url(bromello.otf)
}

@font-face{
    font-family:kg;
    src:url(kg.ttf)
}
